body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

header{
text-align:center;
padding:20px;
background:white;
}

.topbar{
background:black;
color:white;
padding:8px;
font-size:12px;
}

.card{
background:white;
margin:10px;
padding:10px;
border-radius:10px;
text-align:center;
}

img{
width:100%;
border-radius:10px;
}

button{
background:black;
color:white;
width:100%;
padding:10px;
border:none;
margin-top:5px;
border-radius:8px;
}

.checkout{
max-width:420px;
margin:auto;
background:white;
padding:20px;
}

input, textarea{
width:100%;
padding:10px;
margin:5px 0;
border:1px solid #ddd;
border-radius:8px;
}

.green{
background:#00a650;
}
